<%- include('../partials/header') %>

<div class= 'post-container'>
    <p class="review-user"><img alt="avatar" src="<%= user.avatar %>" referrerpolicy="no-referrer" ><%= user.name %></p>
    <p>Email: <%= user.email %></p>
    <p>Member Since: <%= user.createdAt.toLocaleDateString() %></p>
</div>

<section class="comments-container">
    <h2>Posts</h2>

<%- include('../partials/posts') %>
<%- include('../partials/footer') %>