<%- include('../partials/header') %>

<% posts.forEach(function(p){ %>
   <div>
    <%= p.title  %>
    <%= p.body  %>
     <a href="/posts/<%=p._id%>"><%=p.comments.length%> Comments</a>
    <%= p.isEdited  %>
</div>
<%})%>

<%- include('../partials/footer') %>

