<%- include('../partials/header') %>

<div class= 'post-container'>
    <div class="title-line">
        <h2><%= post.title  %></h2>
        <p class="review-user"><img alt="avatar" src="<%= post.userAvatar %>" referrerpolicy="no-referrer" ><%= post.userName %></p>
        <p class="edited"><%= post.isEdited ? "edited" : "" %></p>
    </div>
    <p><%= post.body  %></p>
    <% if (user?._id.equals(post.user)) { %>
    <a href="/posts/<%=post._id%>/edit"> Edit Post</a>
    <% } %>
</div>

<% if (user?._id.equals(post.user)) { %>
<form id="delete-post" method="POST" action="/posts/<%= post._id %>?_method=DELETE">
    <button type="submit">Delete Post</button>
</form>
<% } %>

<% if (user) { %>
<form id="new-comment-form" method="POST" action="/posts/<%= post._id %>/comments">
    <textarea id="body-input" rows="4" cols="50" name="body" placeholder=" Enter text here "></textarea>
<button type="submit">Add Comment</button>
</form>
<% } %>

<section class="comments-container">
    <h2>Comments</h2>
    <% allComments.forEach(c =>{ %>
        <div class= 'post-container'>
            <div class="title-line">
                <p class="review-user"><img alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer" > <%= c.userName %></p>
                <p class="edited"><%= c.isEdited ? "edited" : "" %></p>

            </div>

            <p><%= c.body  %></p>
            <% if (user?._id.equals(c.user)) { %>
            <form id="delete-comment" method="POST" action="/posts/<%= post._id %>/comments/<%= c._id %>?_method=DELETE">
                <button type="submit">Delete Comment</button>
            </form>
            <a href="/comments/<%= c._id %>/edit">Edit Comment</a>
            <% } %>
        </div>
    <% }) %>
</section>

<%- include('../partials/footer') %>