<%- include('../partials/header') %>

<div class="page-title">
    <h1> ~ Post Details ~</h1>
</div>

<div class= 'post-container'>
    <div class="title-line">
        <h2><%= post.title  %></h2>
        <p class="review-user"><img alt="avatar" src="<%= post.userAvatar %>" referrerpolicy="no-referrer" ><a href="/users/<%= post.user %>"><%= post.userName %></a></p>
        <% if (post.isEdited) { %> 
            <p class="edited">edited <%= post.updatedAt.toLocaleString()  %></p>
        <% } else { %>
            <p class="edited">posted <%= post.createdAt.toLocaleString() %></p>
        <% } %>
    </div>
    <p><%= post.body  %></p>
    <% if (user?._id.equals(post.user)) { %>
        <div class="bottom-row">
                <form id="delete-post" method="POST" action="/posts/<%= post._id %>?_method=DELETE">
                    <button type="submit">Delete</button>
                </form>   
                <a href="/posts/<%=post._id%>/edit">Edit</a>
        </div> 
    <% } %>
</div>



<% if (user) { %>
<form id="new-comment-form" method="POST" action="/posts/<%= post._id %>/comments">
    <textarea id="body-input" rows="4" cols="20" maxlength="250" name="body" placeholder=" Enter text here "></textarea>
<button type="submit">Comment</button>
</form>
<% } %>

<% if (allComments.length) { %>
<section class="comments-container">
    <h2>Comments</h2>
    <% allComments.forEach(c =>{ %>
        <div class= 'post-container'>
            <div class="title-line">
                <p class="review-user"><img alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer" ><a href="/users/<%= c.user %>"><%= c.userName %></a></p>
                <% if (c.isEdited) { %> 
                    <p class="edited">edited <%= c.updatedAt.toLocaleString()  %></p>
                <% } else { %>
                    <p class="edited">posted <%= c.createdAt.toLocaleString() %></p>
                <% } %>

            </div>

            <p><%= c.body  %></p>
            <% if (user?._id.equals(c.user)) { %>
            <div class="bottom-row"><form id="delete-comment" method="POST" action="/posts/<%= post._id %>/comments/<%= c._id %>?_method=DELETE">
                <button type="submit">Delete</button>
            </form>
            <a href="/comments/<%= c._id %>/edit">Edit</a>
            </div>
            <% } %>
        </div>
    <% }) %>
</section>
<% } %>

<%- include('../partials/footer') %>